!!!
%html
  %head
    %meta{'http-equiv' => 'Content-Type', :content => 'text/html; charset=utf-8'}
    %meta{'http-equiv' => 'refresh', :content => '60'}
  %body
    =yield

  %p 
    %small
      Last refreshed on
      =@last_refresh
  
